---

## 1

---

In [1]:
import pandas as pd
import numpy as np

In [3]:
apple_stock = pd.read_csv(
    "./AAPL_stock_data.csv", index_col = "Date", parse_dates = True
)
apple_stock.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-09-21,101.687917,107.183774,100.287201,107.076775,195713800,0.0,0.0
2020-09-22,109.605834,109.780924,106.181871,108.759567,183055400,0.0,0.0
2020-09-23,108.574771,109.051400,103.857083,104.197540,150718700,0.0,0.0

In [4]:
apple_stock.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1254 entries, 2020-09-21 to 2025-09-17
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1254 non-null   float64
 1   High          1254 non-null   float64
 2   Low           1254 non-null   float64
 3   Close         1254 non-null   float64
 4   Volume        1254 non-null   int64
 5   Dividends     1254 non-null   float64
 6   Stock Splits  1254 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 78.4 KB

In [5]:
apple_stock.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,1254.000000,1254.000000,1254.000000,1254.000000,1.254000e+03,1254.000000,1254.0
mean,170.840685,172.731233,169.114972,171.013027,7.391611e+07,0.003740,0.0
std,36.331935,36.576027,36.118564,36.388981,3.247052e+07,0.029458,0.0
min,101.687917,107.183774,100.287201,104.197540,2.323470e+07,0.000000,0.0
25%,142.441186,144.382061,140.835627,142.785820,5.052690e+07,0.000000,0.0
50%,168.000910,169.855044,167.019502,168.480125,6.665190e+07,0.000000,0.0
75%,194.547014,197.443420,193.177027,195.668049,8.909990e+07,0.000000,0.0
max,257.276679,259.179926,256.718662,258.103729,3.186799e+08,0.260000,0.0

In [6]:
apple_stock.loc['2024-01-03']

Open            1.826734e+02
High            1.843195e+02
Low             1.818900e+02
Close           1.827032e+02
Volume          5.841450e+07
Dividends       0.000000e+00
Stock Splits    0.000000e+00
Name: 2024-01-03 00:00:00, dtype: float64

In [7]:
apple_stock.loc['2024-01-03':'2025-01-10']

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-01-03,182.673424,184.319491,181.890048,182.703171,58414500,0.0,0.0
2024-01-04,180.620788,181.552899,179.361461,180.382812,71983600,0.0,0.0
2024-01-05,180.462163,181.225688,178.657435,179.658951,62379700,0.0,0.0
2024-01-08,180.561297,184.041839,179.976254,184.002167,59144500,0.0,0.0
2024-01-09,182.375934,183.595604,181.195922,183.585693,42841800,0.0,0.0
...,...,...,...,...,...,...,...
2025-01-03,242.499161,243.316252,241.034359,242.499161,40244100,0.0,0.0
2025-01-06,243.445785,246.455106,242.339711,244.133347,45045600,0.0,0.0
2025-01-07,242.120491,244.681407,240.496267,241.353226,40856000,0.0,0.0
2025-01-08,241.064252,242.847929,239.200872,241.841492,37628900,0.0,0.0
2025-01-10,239.161002,239.310481,232.175804,236.012192,61710900,0.0,0.0

In [9]:
available_years = apple_stock.index.year.unique()
print(available_years)

Index([2020, 2021, 2022, 2023, 2024, 2025], dtype='int32', name='Date')

In [18]:
target_year = available_years[-1]
print(target_year)
year_data = apple_stock[apple_stock.index.year == target_year]
print(year_data.tail(3).to_string())

2025
                  Open        High         Low       Close    Volume  Dividends  Stock Splits
Date
2025-09-15  237.000000  238.190002  235.029999  236.699997  42699500        0.0           0.0
2025-09-16  237.179993  241.220001  236.320007  238.149994  63421100        0.0           0.0
2025-09-17  238.970001  240.100006  237.729996  238.990005  46435200        0.0           0.0

In [17]:
target_month = year_data.index[0].month
print(target_month)
month_data = apple_stock[(apple_stock.index.year == target_year) & (apple_stock.index.month == target_month)]
print(month_data.tail(3).to_string())

1
                  Open        High         Low       Close     Volume  Dividends  Stock Splits
Date
2025-01-29  233.291836  239.011537  233.182224  238.513306   45486100        0.0           0.0
2025-01-30  237.825739  239.938235  236.370912  236.749557   55658300        0.0           0.0
2025-01-31  246.315611  246.315611  232.614250  235.165192  100959800        0.0           0.0

In [24]:
thirty_days_ago = apple_stock.index[-1] - pd.Timedelta(days=30)
print(thirty_days_ago)
last_30_days = apple_stock.loc[thirty_days_ago:]
print(last_30_days.head(3).to_string())

2025-08-18 00:00:00
                  Open        High         Low       Close    Volume  Dividends  Stock Splits
Date
2025-08-18  231.699997  233.119995  230.110001  230.889999  37476200        0.0           0.0
2025-08-19  231.279999  232.869995  229.350006  230.559998  39402600        0.0           0.0
2025-08-20  229.979996  230.470001  225.770004  226.009995  42263900        0.0           0.0

In [25]:
six_months_ago = apple_stock.index[-1] - pd.DateOffset(months=6)
print(six_months_ago)
last_6_months = apple_stock.loc[six_months_ago:]
print(last_6_months.head(3).to_string())

2025-03-17 00:00:00
                  Open        High         Low       Close    Volume  Dividends  Stock Splits
Date
2025-03-17  212.789145  214.694485  209.457304  213.477463  48073400        0.0           0.0
2025-03-18  213.637066  214.624639  210.973588  212.170654  42432400        0.0           0.0
2025-03-19  213.696918  218.225826  213.228065  214.714432  54385400        0.0           0.0

In [28]:
apple_stock.query('index > "2025-01-01"').head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-01-02,248.049428,248.218840,240.964594,242.987411,55740700,0.0,0.0
2025-01-03,242.499161,243.316252,241.034359,242.499161,40244100,0.0,0.0
2025-01-06,243.445785,246.455106,242.339711,244.133347,45045600,0.0,0.0

In [31]:
for year in available_years:
    print(year)

2020
2021
2022
2023
2024
2025

---

## 2

---

In [37]:
close_prices = apple_stock['Close']
print(close_prices.tail(3))

Date
2025-09-15    236.699997
2025-09-16    238.149994
2025-09-17    238.990005
Name: Close, dtype: float64

In [36]:
close_prices.iloc[-1].round(2)

np.float64(238.99)

---

## 3

---

In [41]:
apple_stock['Daily_Return'] = apple_stock['Close'].pct_change() * 100
print(apple_stock['Daily_Return'].head(3))

Date
2020-09-21         NaN
2020-09-22    1.571576
2020-09-23   -4.194598
Name: Daily_Return, dtype: float64

In [47]:
apple_stock['Weekly_Return'] = apple_stock['Close'].pct_change(periods=5)
# print(apple_stock['Weekly_Return'].head(6))

In [48]:
apple_stock['Monthly_Return'] = apple_stock['Close'].pct_change(periods=21)
# print(apple_stock['Monthly_Return'].head(22))

In [49]:
apple_stock['SMA_10'] = apple_stock['Close'].rolling(window=10).mean()
print(apple_stock['SMA_10'].head(10))

Date
2020-09-21           NaN
2020-09-22           NaN
2020-09-23           NaN
2020-09-24           NaN
2020-09-25           NaN
2020-09-28           NaN
2020-09-29           NaN
2020-09-30           NaN
2020-10-01           NaN
2020-10-02    109.350984
Name: SMA_10, dtype: float64

In [51]:
apple_stock['EMA_12'] = apple_stock['Close'].ewm(span=12).mean()
print(apple_stock['EMA_12'].head(3))

Date
2020-09-21    107.076775
2020-09-22    107.988287
2020-09-23    106.508758
Name: EMA_12, dtype: float64

In [55]:
apple_stock['BB_Middle'] = apple_stock['Close'].rolling(window=20).mean()
# print(apple_stock['BB_Middle'].head(20))

In [56]:
delta = apple_stock['Close'].diff()
print(delta.head(3))

Date
2020-09-21         NaN
2020-09-22    1.682793
2020-09-23   -4.562027
Name: Close, dtype: float64

In [59]:
gain = (delta.where(delta > 0, 0)).rolling(window=14).mean()
# print(gain.head(14))

In [62]:
apple_stock['Volatility_10d'] = apple_stock['Daily_Return'].rolling(window=10).std() * np.sqrt(252) * 100
# print(apple_stock['Volatility_10d'].head(11))

---

## 4

---

In [64]:
portfolio_data = pd.read_csv(
    "sample_portfolio.csv", index_col = "Date", parse_dates = True
)
print(portfolio_data.head(3).to_string())

            Portfolio_Value  Portfolio_Returns  AAPL_Price  AAPL_Returns  MSFT_Price  MSFT_Returns  GOOGL_Price  GOOGL_Returns  TSLA_Price  TSLA_Returns   JNJ_Price  JNJ_Returns
Date
2020-09-21       100.000000           0.000000  107.076775           NaN  194.200500           NaN    71.017189            NaN  149.796661           NaN  125.812180          NaN
2020-09-22        99.968843          -0.000312  108.759567      0.015716  198.879562      0.024094    72.491013       0.020753  141.410004     -0.055987  125.040489    -0.006134
2020-09-23        95.745452          -0.042247  104.197540     -0.041946  192.330780     -0.032928    69.986801      -0.034545  126.786667     -0.103411  125.239929     0.001595

In [67]:
resampled_M = portfolio_data['Portfolio_Value'].resample("ME").last()
print(len(resampled_M))
print(resampled_M.tail(3).round(2))

61
Date
2025-07-31    247.12
2025-08-31    264.18
2025-09-30    288.93
Freq: ME, Name: Portfolio_Value, dtype: float64

In [68]:
ohlcv_data = apple_stock[['Open', 'High', 'Low', 'Close', 'Volume']].dropna()
weekly_ohlc = ohlcv_data.resample('W').agg({
    'Open': 'first',    # First trading day's opening price
    'High': 'max',      # Highest price during the week
    'Low': 'min',       # Lowest price during the week
    'Close': 'last',    # Last trading day's closing price
    'Volume': 'sum'     # Total volume traded during the week
})
print(weekly_ohlc.tail(3).round(2))

              Open    High     Low   Close     Volume
Date
2025-09-07  229.25  241.32  226.97  239.69  212923200
2025-09-14  239.30  240.15  225.95  234.07  304787000
2025-09-21  237.00  241.22  235.03  238.99  152555800

In [76]:
monthly_stats = ohlcv_data.resample('ME').agg({
    'Close': ['first', 'last', 'min', 'max', 'mean'],
    'Volume': ['sum', 'mean', 'std']
})
print(monthly_stats.head(3).round(2).to_string())
monthly_stats.columns = ['_'.join(col) for col in monthly_stats.columns]
print(monthly_stats.tail(3).round(2).to_string())

             Close                                      Volume
             first    last     min     max    mean         sum         mean          std
Date
2020-09-30  107.08  112.65  104.20  112.65  108.75  1226942400  153367800.0  29700408.92
2020-10-31  113.60  105.89  105.89  121.01  113.24  2894666500  131575750.0  47433503.70
2020-11-30  105.80  116.00  105.80  117.22  113.80  2123077300  106153865.0  31591396.07
            Close_first  Close_last  Close_min  Close_max  Close_mean  Volume_sum  Volume_mean   Volume_std
Date
2025-07-31       207.58      207.33     207.33     214.16      211.04  1079935600  49087981.82  11929225.88
2025-08-31       202.15      232.14     202.15     233.33      224.58  1218079100  58003766.67  26223599.11
2025-09-30       229.72      238.99     226.79     239.78      235.39   670266000  55855500.00  12018100.30

---

## 5

---

---

## 6

---

In [78]:
multi_asset_prices = pd.read_csv(
    "financial_close_prices.csv", index_col = "Date", parse_dates = True
)
print(multi_asset_prices.head(3).round(2).to_string())

              AAPL    MSFT  GOOGL    TSLA   NVDA   BRK-B     JNJ    WMT      PG       V     SPY     QQQ     TLT     GLD     VTI    VEA  BTC-USD  ETH-USD  EURUSD=X  GBPUSD=X  USDJPY=X
Date
2020-09-21  107.08  194.20  71.02  149.80  12.48  213.02  125.81  42.62  120.81  190.51  305.67  259.76  142.04  179.52  155.28  35.13      NaN      NaN       NaN       NaN       NaN
2020-09-22  108.76  198.88  72.49  141.41  12.60  214.16  125.04  43.01  121.91  193.51  308.78  264.59  141.93  178.65  156.83  35.12      NaN      NaN       NaN       NaN       NaN
2020-09-23  104.20  192.33  69.99  126.79  12.09  209.61  125.24  42.28  120.45  188.50  301.62  256.51  142.12  174.79  153.04  34.76      NaN      NaN       NaN       NaN       NaN